/* --全局导航栏样式-- */
#web-dojo-app .navbar {
  border: none;
  height: 50px;
}

/* --Webkit滚动条样式修改-- */
$scroller{
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .9);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 10px;
    background: rgba(255, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  }
}


/* 设置背景图 */
body {
  background: url(./../../static/images/bg4.jpg) repeat;
  @extend $scroller;
}
.container{
  background: #fff;
}

.page-content{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 15px;
}
.ace_scrollbar{
  @extend $scroller;
}
